SpecAugment
natsort==7.0.1
librosa==0.7.2
dill==0.3.1.1
python_speech_features==0.6
tqdm==4.45.0
click==7.1.1
pandas==1.0.3
matplotlib==3.2.1
tensorflow
Keras==2.3.1
numpy==1.18.2
numba==0.48
jupyter
torch
ipykernel
pydub
tabulate
ffprobe
bokeh==1.1.0
cycler==0.10.0
Jinja2==2.10.1
kiwisolver==1.1.0
MarkupSafe==1.1.1
packaging==19.0
Pillow==6.0.0
pyparsing==2.4.0
python-dateutil==2.8.0
pytz==2019.1
PyYAML==5.1
six==1.12.0
torchvision==0.2.2.post3
tornado==6.0.2
